/****************** DESIGNED BY *****************/
/*               Constanze Deten                */
/* Idee und Inhalt: Hans-Peter Herrmann         */
/*                   c 2023                     */
/************************************************/

@import url(style.css);

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--darkturquoise100);
}

ul.topnav li,
#logo {
  float: left;
}

ul.topnav li a,
#logo {
  display: inline-block;
  color: var(--weisz80);
  text-align: center;
  padding: 0.2em 0.5em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {
  background-color: var(--greyturquoise100);
}

ul.topnav li.icon {
  float: right;
  display: none;
}

/* Optional für eine second level Navigation in der Screen Ansicht */
.innen {
  color: var(--weisz80);
  display: none;
  padding: 3px;
}

li:hover .innen {
  color: var(--sienna100);
  display: inline-block;
}
/* ############Ende second level Navigation Screen ###############*/

/* ##################### Media Screen für Switch ###############*/
@media only screen and (max-width: 800px) and (orientation: landscape) {
  ul.topnav li:not(:first-child) {
    display: none;
  }

  ul.topnav li.icon {
    display: inline-block;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

  /* Optional für eine second level Navigation in der Mobile Ansicht */
  .innen {
    display: inline-block;
  }
  /* Ende second level Navigation Mobile */
}

/* ##################### Media Screen für Switch ###############*/
@media screen and (max-width: 680px) and (orientation: portrait) {
  ul.topnav li:not(:first-child) {
    display: none;
  }

  ul.topnav li.icon {
    display: inline-block;
  }

  ul.topnav.responsive {
    position: relative;
  }

  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  ul.topnav.responsive li {
    float: none;
    display: inline;
  }

  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }

  /* Optional für eine second level Navigation in der Mobile Ansicht */
  .innen {
    display: inline-block;
  }
  /* Ende second level Navigation Mobile */
}
