/****************** DESIGNED BY *****************/
/*               Constanze Deten                */
/* Idee und Inhalt: Hans-Peter Herrmann         */
/*                   c 2023                     */
/************************************************/

/* ÜBERARBEITEN !!!!! */
@import url(style.css);

.topnav {
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--water100);
}

.topnav div {
  float: left;
}

.home-icon .fa-fw {
  width: 100%;
  font-size: 2.2vw;
  padding: 0.2vh 2vw 0.1vh 1vw;
}
.nav-icon {
  font-size: 3.5vw;
  padding: 0 0.8vw 0;
}

.topnav .drop-item .nav-item a,
.topnav div div a {
  color: var(--weisz80);
  padding: 0.2vh 2vw 0.2vh 0vw;
  line-height: 130%;
  text-decoration: none;
  transition: 0.3s;
  font-size: 3vh;
}

.home-icon:hover,
.topnav div div a:hover,
.nav-icon:hover {
  background-color: var(--greyturquoise100);
}

.topnav div.nav-icon {
  float: right;
  display: none;
}

.nav-item a {
  width: 100%;
  text-align: left;
}

/* Optional für eine second level Navigation in der Screen Ansicht */
.innen {
  color: var(--weisz80);
  display: none;
  padding: 0.5vh;
}

div:hover .innen {
  color: var(--sienna100);
  display: inline-block;
}
/* ############Ende second level Navigation Screen ###############*/

/* ##################### Media Screen für Switch ###############*/
@media only screen and (max-width: 800px) and (orientation: landscape) {
  .topnav div:not(:first-child) {
    display: none;
  }

  .topnav {
    position: relative;
  }

  .home-icon .fa-fw {
    font-size: 3.5vw;
  }

  .nav-icon {
    font-size: 3.5vw;
  }

  #drop-item.drop-item.responsive,
  #drop-item.drop-item.responsive div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .nav-item:hover {
    background-color: var(--greyturquoise100);
  }

  .topnav div.nav-icon {
    display: inline-block;
  }
  .topnav.responsive div.nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Optional für eine second level Navigation in der Mobile Ansicht */
  .innen {
    display: inline-block;
  }
  /* Ende second level Navigation Mobile */
}

/* ##################### Media Screen für Switch ###############*/
@media screen and (max-width: 680px) and (orientation: portrait) {
  .topnav div:not(:first-child) {
    display: none;
  }

  .topnav {
    position: relative;
  }

  .home-icon .fa-fw {
    font-size: 3.5vw;
  }

  .nav-icon {
    font-size: 3.5vw;
  }

  #drop-item.drop-item.responsive,
  #drop-item.drop-item.responsive div {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .nav-item:hover {
    background-color: var(--greyturquoise100);
  }

  .topnav div.nav-icon {
    display: inline-block;
  }
  .topnav.responsive div.nav-icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Optional für eine second level Navigation in der Mobile Ansicht */
  .innen {
    display: inline-block;
  }
  /* Ende second level Navigation Mobile */
}
