/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: url(../images/bg_surfparadise.jpg) fixed;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: normal;
  color: #444;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: #077c91;
}

a {
  text-decoration: none;
  color: #077c91;
}

a:hover {
  color: sienna;
}

/* Wrapper - Inhalt über HG-Bild */
#wrapper {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  background: rgba(250, 250, 250, 0.8);
}

/* Header */

#head {
  text-align: center;
  width: 100%;
  height: 4em;
  margin: 0 auto;
  padding-top: 0.5em;
}

/* geteilte Head für reponsive Darstellung */
#h1-all,
#h1-pc,
#h1-cont {
  letter-spacing: -1px;
  border: none;
  background: none;
  text-decoration: none;
  color: #077c91;
}

#h1-all,
#h1-pc,
#h1-cont {
  font-size: 1.5em;
  text-shadow: 0.05em 0.05em 0.1em #444;
}

#h1-cont {
  margin: 2em auto;
}

/* Page */

h2 {
  color: sienna;
  font-size: 1.3em;
  text-shadow: 0.05em 0.05em 0.1em rgb(241, 239, 230);
}

#page {
  width: 100%;
  margin: 0 auto;
  padding: 0.3 0;
  justify-content: center;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  display: inline-block;
  _background: rgba(250, 250, 250, 0.8);
}

/* Content mit 9 Quadraten */

.quader {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.25%;
  height: 15em;
  margin: 0;
  border: 0.05em solid #077c91;
  background-color: rgba(222, 184, 135, 0.4);
}

/* erste Reihe der 9 Quadrate */

.flipbox {
  perspective: 2000px;
  max-width: 100%;
}

.flipbox:hover .flipper,
.flipbox.hover .flipper {
  transform: rotateY(180deg);
}

.flipbox,
.front,
.back {
  _width: 100%;
  _height: auto;
}

.flipper {
  position: relative;
  transition: 1s;
  transform-style: preserve-3d;
}

.front,
.back {
  backface-visibility: hidden;
}

.front {
  transform: rotateY(0deg);
  z-index: 3;
}

.back {
  transform: rotateY(180deg);
  z-index: 4;
}

#kalenderblatt {
  background: url(../images/pexels_picjumbocom_196650.jpg);
  background-size: cover;
}

#kalenderblatt .flipper .back {
  position: absolute;
  top: -200%;
  left: 0;
}

#urlaubsdetektive .flipper .back {
  position: absolute;
  top: 10%;
  left: 33.3%;
}

#wissenwertes {
  background: url(../images/pexels-monoar-rahman-109371.jpg);
  background-size: cover;
}

#wissenwertes .flipper .back {
  position: absolute;
  top: -150%;
  width: 100%;
}

/* zweite Reihe der 9 Quadrate */

#heute {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(../images/bg_surfparadise.jpg) fixed;
  display: inline-block;
  _display: table;
  align-content: center;
}

/* zweite Reihe der 9 Quadrate */

.links {
  padding-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

/* Footer */

#footer {
  float: left;
  width: 100%;
  height: 3em;
  margin: 0 auto;
  padding: 1em 0;
  border-top: 0.05em solid #077c91;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  font-weight: 700;
  color: #077c91;
  text-shadow: 0.05em 0.05em 0.1em #444;
  text-align: center;
  background: rgba(250, 250, 250, 0.8);
}

#footer a {
  color: aqua;
  text-shadow: 0.05em 0.05em 0.1em #444;
}

/* +++++++++++++++++++++++++++  Ende DESKTOP  ++++++++++++++++*/

/* Stile für mobile Phones mit 768px Breite Hochkant @media only screen and (device-width:768px) and (orientation:portrait) { }*/
/* andere Stile für Desktop-PC 768px Breite quer @media only screen and (device-width:768px) and (orientation:landscape) { }*/
/* Stile für Laptops verschiedener Breite @media only screen and (min-width:600px) (max-width:920px){}*/

/* Festlegungen für diverse Geräte -> Darstellung bis max 7680px Screenbreite */
/* MEDIA QUERY */
@media screen and (max-width: 768px) {
  /* hier kommen Angaben rein, die bei mobilder Darstellung anders sein sollen als auf dem Desktop -> zu sehen bei 800px und kleiner */
  /* nie vergessen, die Elternelemente zu berücksichtigen und ggf. mit zu ändern -> ist die Navi-Zeile am PC flacher als im Mobil Phone, wird der Inhalt der 2. Box in meiner höheren Navi am Handy dargestellt */

  /* flexible Größen erreicht man mit 90%, .9em oder mit 2vw (viewport with) */

  #wrapper {
    width: 90%;
    padding: 10px 10px;
  }

  #head {
    width: 100%;
    height: 5em;
    font-size: 2vw;
    padding: 0px;
    margin: 0px;
    float: none;
  }

  #h1-all {
    padding: 0px;
    margin: 0px;
    float: none;
  }

  #h1-pc {
    display: none;
  }

  #logo h1 {
    padding: 0px;
    margin: 0px;
  }

  nav {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 10px 0px;
  }

  #page {
    width: 100%;
    float: none;
  }

  #kalenderblatt,
  #wissenwertes,
  #urlaubsdetektive {
    width: 33, 3%;
    margin: 0;
    background-color: rgba(222, 184, 135, 0.5);
  }

  .links {
    padding: 0px;
  }

  #footer {
    width: 100%;
    height: 5%;
  }

  /* Bildgröße wird immer auf 100% runtergerechnet */
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ####################### für Cookie-Popup #################### */
/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
}
.consent-wrapper {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: rgba(250, 250, 250, 1);
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.consent-wrapper.show {
  right: 5em;
}
.consent-wrapper header {
  display: flex;
  align-items: center;
  column-gap: 1em;
}
header i {
  color: #077c91;
  font-size: 1.5em;
}
header h2 {
  color: #077c91;
  font-weight: 500;
}
.consent-wrapper .data {
  margin-top: 1.1em;
}
.consent-wrapper .data p {
  color: #333;
  font-size: 1.1em;
}
.data p a {
  color: rgb(7, 125, 146);
  text-decoration: none;
}
.data p a:hover {
  color: sienna;
  text-decoration: underline;
}
.consent-wrapper .buttons {
  margin-top: 1.1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons .button {
  border: none;
  color: rgb(7, 125, 146);
  padding: 0.6em;
  border-radius: 0.1em;
  background: rgba(222, 184, 135, 0.4);
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.buttons #acceptBtn:hover {
  background: rgba(222, 184, 135, 0.4);
}
#declineBtn {
  border: 1px solid rgb(222, 184, 135);
  background-color: #fff;
  color: rgb(7, 125, 146);
}
#declineBtn:hover {
  background: rgba(222, 184, 135, 0.4);
  color: rgb(7, 125, 146);
}
