/****************** DESIGNED BY *****************/
/*               Constanze Deten                */
/* Idee und Inhalt: Hans-Peter Herrmann         */
/*                   c 2023                     */
/************************************************/

/* Android benötigt die .ttf-Datei */
@font-face {
  font-family: "Sundayscript"; /* regular font */
  src: local("Sundayscript"),
    url("/css/webfonts/Sundayscript.ttf") format("truetype"),
    url("/css/webfonts/Sundayscript.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: rgba(250, 250, 250, 0.8); /* weisz */
  --bg-color-body: rgba(7, 125, 146, 0.8); /* dark-cyan */
  --bg-color-quader: rgba(222, 184, 135, 0.4); /* sand, #deb887 */
  --bg-img: url(../images/pexels_lucas-meneses_4712714.jpg);

  --h1-color: rgb(7, 125, 146); /* dark-cyan, #077c91 */
  --h2-color: rgb(158, 81, 46); /* sienna, #9f512d */

  --text-color: #444; /* anthrazit */

  --link-color: rgb(7, 125, 146); /* dark-cyan, #077c91 */
  --link-hover-color: rgb(158, 81, 46); /* sienna, #9f512d */

  --dark-bg-color: rgb(6, 6, 6); /* anthrazit */
  --dark-bg-text-color: rgb(250, 250, 250); /* weisz */

  --text-nav-color: #f2f2f2;

  --h1-shadow: 0.1vw 0.1vw 0.3vw #444;
  --h2-shadow: 0.07vw 0.07vw 0.5vw rgb(222, 184, 135);
  --link-shadow: ;

  --navbar-height: 1vh;
}

* {
  font-family: Helvetica, Tahoma, Verdana, sans-serif;
  font-size: 2.5vh;
  font-weight: normal;

  padding: 0;
  margin: 0 auto;
}

html {
  height: 100%;
}

/* #############ENDE Intro ################# */

body {
  width: 100%;
  height: 200vh;
  /* background: url(../images/pexels_lucas-meneses_4712714.jpg)
    var(--bg-color-body) fixed; */
  background: var(--bg-img) var(--bg-color-body) fixed;
  background-size: cover;

  color: var(--text-color);

  margin: 2vh auto;
}
.dark-bg {
  background: var(--bg-color);
}
a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

/* Wrapper - Inhalt über HG-Bild */
#wrapper {
  width: 90%;
  background: var(--bg-color);
  padding: 0;
  margin: 0 auto;
}

/* Header */

#head {
  width: 100%;
  text-align: center;
  padding-top: 2vh;
  margin: 0 auto;
}

/* Navi-Item Impressum bei 3 x 3 -Grid versteckt */
#imphidden {
  visibility: hidden;
}

nav {
  color: var(--text-nav-color);
}

#topnav {
  margin-top: 2vh;
}

/* geteilte Head für reponsive Darstellung */
.h1-all,
#h1-pc,
#h1-cont {
  font-family: "Cabin", Helvetica, sans-serif;
  font-size: 5vh;
  letter-spacing: -1px;
  border: none;
  background: none;
  text-decoration: none;
  color: var(--h1-color);
  text-shadow: var(--h1-shadow);
}

#h1-cont {
  margin: 5vh auto;
}

/* **************** Page ************************* */

h2 {
  font-family: "Cabin", Helvetica, sans-serif;
  color: var(--h2-color);
  font-size: 3.5vh;
  text-shadow: var(--h2-shadow);

  margin: 0vh 0.7vw;
}

h3 {
  color: var(--text-nav-color);
  padding: 0.2em 0.5em;
}

#page {
  width: 100%;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

/* Content mit 8/9 Flächen */

.quader {
  width: 100%;
  height: 100%;
  /* rgba hinter url, falls img nicht geladen wird */
  background: url(../images/pexels_kate-graur_5425708.jpg)
    var(--bg-color-quader);
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  border: 0.03vw solid sienna;
}

#lexikon-c2,
#visitenkarte-c2,
#sprechstunde-c2 {
  display: none;
}

/* Flipcards */
/* https://stackoverflow.com/questions/52697020/showing-full-content-of-the-flip-card-under-mobile-devices */

.flipbox {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  -o-perspective: 2000px;
  perspective: 2000px;
}

.flipbox:hover .flipper,
.flipbox.hover .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.flipper {
  -webkit-transition: 0.5s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;

  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;

  /* Parent-Div in Flipbox hat rel. Pos. */
  position: relative;
}

.front,
.back {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;

  padding: 0 0.9vw;
}

/* z-index 1: #wrapper, z-index 2: #page */
.front {
  transform: rotateY(0deg);
  /* z-index 1 unter back-Div */
  z-index: 3;
}

.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);

  /* Chil-Divs in Flipbox haben absolute Pos. */
  position: absolute;
  top: 0%;
  left: 0%;
  /* z-index 1 über front-Div */
  z-index: 4;
}

#urlaubsdetektive .flipper .front,
#visitenkarte .flipper .front,
#visitenkarte-c2 .flipper .front {
  /* übergroßes Fragezeichen */
  font-size: 15vh;
  color: brown;
  font-weight: bold;
  /* Flip-Cards mit 0px Padding und Margin */
  padding: 0;
  margin: 0;
}

#heute {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    var(--bg-img) fixed;
}

#implink {
  padding-top: 0.05vh;
  font-weight: bold;
}

/* *************** ENDE Inhalt main ******************** */

/* ******************* Footer ********************* */

#footer {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  padding: 2vh 0 2vh 0;

  border-top: 0.05vh solid var(--h1-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5vh;
  font-weight: 700;
  color: var(--h1-color);
  text-shadow: var(--h1-shadow);
  text-align: center;
}

#footer a {
  color: var(--link-color);
}

/* ************************* für Cookie-Popup *********************** */
/* Conset-Popup mit Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
}
.consent-wrapper {
  position: fixed;
  bottom: 20vh;
  right: -25vw;
  max-width: 25vw;
  width: 100%;
  background: rgba(250, 250, 250, 1);
  border-radius: 8px;
  padding: 1.5vh 2vw;
  transition: right 0.3s ease;
  box-shadow: 0 0.5vw 2vw rgba(0, 0, 0, 0.1);
  z-index: 4;
}
.consent-wrapper.show {
  right: 5em;
}
.consent-wrapper header {
  display: flex;
  align-items: center;
  column-gap: 1em;
}
header i {
  color: var(--h1-color);
  font-size: 1.5em;
}
header h2 {
  color: #077c91;
  font-weight: 500;
}
.consent-wrapper .data {
  margin-top: 1.1em;
}
.consent-wrapper .data p {
  color: #333;
  font-size: 2vh;
}
.data p a {
  color: rgb(7, 125, 146);
  text-decoration: none;
}
.data p a:hover {
  color: sienna;
  text-decoration: underline;
}
.consent-wrapper .buttons {
  margin-top: 1.1em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buttons .button {
  border: none;
  color: rgb(7, 125, 146);
  padding: 0.8vw;
  border-radius: 5px;
  background: rgba(222, 184, 135, 0.4);
  cursor: pointer;
  width: calc(100% / 2 - 10px);
  transition: all 0.2s ease;
}
.buttons #acceptBtn:hover {
  background: rgba(222, 184, 135, 0.4);
}
#declineBtn {
  border: 1px solid rgb(222, 184, 135);
  background-color: #fff;
  color: rgb(7, 125, 146);
}
#declineBtn:hover {
  background: rgba(222, 184, 135, 0.4);
  color: rgb(7, 125, 146);
}

/* #########################  Ende DESKTOP  ##################### */

/* ############## 1. Schritt 2-spaltig, Portrait ################ */

@media only screen and (max-width: 1080px) and (orientation: portrait) {
  /* hier kommen Angaben rein, die bei mobilder Darstellung anders sein sollen als auf dem Desktop 
  -> zu sehen bei 390 bis 680px */
  /* nie vergessen, die Elternelemente zu berücksichtigen und ggf. mit zu ändern 
  -> ist die Navi-Zeile am PC flacher als im Mobil Phone, 
  wird der Inhalt der 2. Box in einer höheren Navi am Handy dargestellt */
  /* flexible Größen erreicht man mit 90%, .9em oder mit 2vw (viewport with) */

  /* Body */

  body {
    font-size: 2.3vh;
    margin: 1.5vh auto;
  }

  /* Wrapper - Inhalt über HG-Bild */

  /* #head + #topnav - Inhalt des header */

  /* Navi-Item Impressum bei 3 x 3 -Grid versteckt */

  #head {
    padding-top: 1.8vh;
  }

  nav {
    width: 100%;
    float: left;
    padding: 0;
  }

  #topnav {
    margin-top: 1.2vh;
  }

  #imphidden {
    visibility: visible;
    display: flex !important;
  }

  /* #page + .flipbx - Inhalt der main */

  /* geteilte Head für reponsive Darstellung */
  .h1-all,
  #h1-pc,
  #h1-cont {
    font-size: 4vh;
  }

  #h1-cont {
    margin: 4vh auto;
  }

  h2 {
    color: sienna;
    font-size: 3vh;
    text-shadow: 0.05vw 0.05vw 0.1vw rgb(241, 239, 230);
  }

  #lexikon-c2,
  #visitenkarte-c2,
  #sprechstunde-c2 {
    display: flex;
  }

  #lexikon,
  #calendar,
  #visitenkarte,
  #sprechstunde {
    display: none;
  }

  #heute,
  #heute div {
    visibility: hidden;
    display: none !important;
  }

  #page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  /* Content mit 9 Quadraten */
  .quader {
    height: 30vh;
    width: 100%;
  }

  /* Flipcards */
  /* https://stackoverflow.com/questions/52697020/showing-full-content-of-the-flip-card-under-mobile-devices */

  .flipbox {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    perspective: 800px;
  }

  #urlaubsdetektive .flipper .front {
    font-size: 15vh;
    color: brown;
    font-weight: bold;
  }

  /* ENDE Inhalt main */

  /* #footer - Inhalt Fuszzeile */

  #footer {
    height: 8vh;
    padding: 2vh 0 2vh 0;
    font-size: 2vh;
    font-weight: 700;
    text-shadow: 0.03vw 0.03vw 0.1vw #444;
  }

  /* *************** Conset-Popup mit Google Fonts - Poppins ************* */
  * {
    font-size: 2vh;
  }
  body {
    min-height: 100vh;
  }
  .consent-wrapper {
    bottom: 20vh;
    right: -50vw;
    max-width: 45vw;
    width: 100%;
    border-radius: 0.3vh 0.3vw;
    padding: 1vw 1vh;
    box-shadow: 0 0.03vw 0.06vw rgba(0, 0, 0, 0.1);
    z-index: 4;
  }
  .consent-wrapper.show {
    right: 1vw;
  }
  .consent-wrapper header {
    column-gap: 1em;
  }
  header i {
    font-size: 1.5em;
  }
  header h2 {
    font-weight: 500;
  }
  .consent-wrapper .data {
    margin-top: 1.1vh;
  }
  .consent-wrapper .data p {
    font-size: 2vh;
  }
  .data p a {
    text-decoration: none;
  }
  .consent-wrapper .buttons {
    margin-top: 1.1em;
    width: 100%;
    font-size: 2.2vh;
  }
  .buttons .button {
    padding: 0.1vh 0.1vw;
    border-radius: 0.1vh 0.1vw;
    width: calc(100% / 2 - 10px);
  }

  /* Bildgröße wird immer auf 100% runtergerechnet */
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ############## 2. Schritt 2-spaltig, Landscape ################ */

@media only screen and (min-width: 400px) and (max-width: 820px) and (orientation: landscape) {
  /* Body */

  body {
    font-size: 5vh;
    margin: 1.5vh auto;
  }

  /* Wrapper - Inhalt über HG-Bild */

  /* #head + #topnav - Inhalt des header */

  /* Navi-Item Impressum bei 3 x 3 -Grid versteckt */

  #head {
    padding-top: 1.8vh;
  }

  nav {
    width: 100%;
    float: left;
    padding: 0;
  }

  #topnav {
    margin-top: 1.2vh;
  }

  #imphidden {
    visibility: visible;
    display: flex !important;
  }
  /* #page + .flipbx - Inhalt der main */

  /* geteilte Head für reponsive Darstellung */
  .h1-all,
  #h1-pc,
  #h1-cont {
    font-size: 6vh;
  }

  #h1-cont {
    margin: 3vh auto;
  }

  h2 {
    color: sienna;
    font-size: 4vh;
    text-shadow: 0.05vw 0.05vw 0.1vw rgb(241, 239, 230);
  }

  #lexikon-c2,
  #visitenkarte-c2,
  #sprechstunde-c2 {
    display: flex;
  }

  #lexikon,
  #calendar,
  #visitenkarte,
  #sprechstunde {
    display: none;
  }

  #heute,
  #heute div {
    visibility: hidden;
    display: none !important;
  }

  #page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    font-size: 5vh;
  }

  /* Content mit 9 Quadraten */
  .quader {
    height: 45vh;
    width: 100%;
  }

  /* Flipcards */
  /* https://stackoverflow.com/questions/52697020/showing-full-content-of-the-flip-card-under-mobile-devices */

  .flipbox {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    perspective: 800px;
  }

  #urlaubsdetektive .flipper .front {
    font-size: 15vh;
    color: brown;
    font-weight: bold;
  }

  /* ENDE Inhalt main */

  /* #footer - Inhalt Fuszzeile */

  #footer {
    height: 8vh;
    padding: 2vh 0 2vh 0;
    font-size: 3vh;
    font-weight: 700;
    text-shadow: 0.03vw 0.03vw 0.1vw #444;
  }

  /* ************ Conset-Popup mit Google Fonts - Poppins ************** */
  * {
    font-size: 2vh;
  }
  body {
    min-height: 100vh;
  }
  .consent-wrapper {
    bottom: 20vh;
    right: -50vw;
    max-width: 45vw;
    width: 100%;
    border-radius: 0.3vh 0.3vw;
    padding: 1vw 1vh;
    box-shadow: 0 0.03vw 0.06vw rgba(0, 0, 0, 0.1);
    z-index: 4;
  }
  .consent-wrapper.show {
    right: 1vw;
  }
  .consent-wrapper header {
    column-gap: 1em;
  }
  header i {
    font-size: 1.5em;
  }
  header h2 {
    font-weight: 500;
  }
  .consent-wrapper .data {
    margin-top: 1.1vh;
  }
  .consent-wrapper .data p {
    font-size: 2vh;
  }
  .data p a {
    text-decoration: none;
  }
  .consent-wrapper .buttons {
    margin-top: 1.1em;
    width: 100%;
    font-size: 2.2vh;
  }
  .buttons .button {
    padding: 0.1vh 0.1vw;
    border-radius: 0.1vh 0.1vw;
    width: calc(100% / 2 - 10px);
  }

  /* Bildgröße wird immer auf 100% runtergerechnet */
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ################# 3. Schritt: 1-spaltig, Portrait ##############*/
/* Smartphone hochkant mit 1-spaltiger Darstellung der Inhalte  */
@media only screen and (max-width: 430px) and (orientation: portrait) {
  body {
    font-size: 3vh;
    margin: 1.8vh auto 10vh auto;
  }

  /* Wrapper - Inhalt über HG-Bild */

  /* #head + #topnav - Inhalt des header */

  /* Navi-Item Impressum bei 3 x 3 -Grid versteckt */

  #head {
    padding-top: 1.8vh;
  }

  nav {
    width: 100%;
    float: left;
    padding: 0;
  }

  #topnav {
    margin-top: 1.2vh;
  }

  #imphidden {
    visibility: visible;
  }

  /* #page + .flipbx - Inhalt der main */

  /* geteilte Head für reponsive Darstellung */
  .h1-all,
  #h1-pc,
  #h1-cont {
    font-size: 4vh;
  }

  #h1-cont {
    margin: 4vh auto;
  }

  /* Page */

  h2 {
    font-size: 3vh;
    text-shadow: 0.02vw 0.02vw 0.05vw rgb(241, 239, 230);
    _margin: 0vh 1vw;
  }

  #page {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
  }

  /* Content mit 8/9 Flächen */

  .quader {
    height: 32vh;
    border: 0.03vw solid sienna;
  }

  #lexikon-c2,
  #visitenkarte-c2,
  #sprechstunde-c2 {
    display: flex;
  }

  #lexikon,
  #calendar,
  #visitenkarte,
  #sprechstunde {
    display: none;
  }

  #heute,
  #heute div {
    visibility: hidden;
    display: none !important;
  }

  /* Flipcards */
  /* https://stackoverflow.com/questions/52697020/showing-full-content-of-the-flip-card-under-mobile-devices */

  .flipbox {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    perspective: 800px;
  }

  #urlaubsdetektive .flipper .front {
    font-size: 15vh;
    color: brown;
    font-weight: bold;
  }

  /* ENDE Inhalt main */

  /* #footer - Inhalt Fuszzeile */

  #footer {
    height: 8vh;
    font-size: 2vh;
  }

  /* **************** Conset-Popup mit Google Fonts - Poppins *********** */
  * {
    font-size: 1.8vh;
  }
  body {
    min-height: 100vh;
  }
  .consent-wrapper {
    bottom: 20vh;
    right: -50vw;
    max-width: 45vw;
    width: 100%;
    border-radius: 0.3vh 0.3vw;
    padding: 1vw 1vh;
    box-shadow: 0 0.03vw 0.06vw rgba(0, 0, 0, 0.1);
  }
  .consent-wrapper.show {
    right: 1vw;
  }
  .consent-wrapper header {
    column-gap: 1em;
  }
  header i {
    font-size: 1.5em;
  }
  header h2 {
    font-weight: 500;
  }
  .consent-wrapper .data {
    margin-top: 1.1em;
  }
  .consent-wrapper .data p {
    font-size: 2vh;
  }
  .consent-wrapper .buttons {
    margin-top: 1.1em;
    width: 100%;
    font-size: 2vh;
  }
  .buttons .button {
    padding: 0.1vh 0.1vw;
    border-radius: 0.1em;
    width: calc(100% / 2 - 10px);
  }

  /* Bildgröße wird immer auf 100% runtergerechnet */
  img {
    max-width: 100%;
    height: auto;
  }
}

/* ################# 4. Schritt: 1-spaltig, Landscape ##############*/
/* Smartphone hochkant mit 1-spaltiger Darstellung der Inhalte  */
@media only screen and (max-width: 400px) and (orientation: landscape) {
  body {
    font-size: 2.7vh;
    margin: 1.8vh auto 10vh auto;
  }

  /* Wrapper - Inhalt über HG-Bild */

  /* #head + #topnav - Inhalt des header */

  /* Navi-Item Impressum bei 3 x 3 -Grid versteckt */

  #head {
    padding-top: 1.8vh;
  }

  nav {
    width: 100%;
    float: left;
    padding: 0;
  }

  #topnav {
    margin-top: 1.2vh;
  }

  #imphidden {
    visibility: visible;
  }

  /* #page + .flipbx - Inhalt der main */

  /* geteilte Head für reponsive Darstellung */
  .h1-all,
  #h1-pc,
  #h1-cont {
    font-size: 4vh;
  }

  #h1-cont {
    margin: 4vh auto;
  }

  /* Page */

  h2 {
    font-size: 3vh;
    text-shadow: 0.02vw 0.02vw 0.05vw rgb(241, 239, 230);
    _margin: 0vh 1vw;
  }

  #page {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
  }

  /* Content mit 8/9 Flächen */

  .quader {
    height: 30vh;
    border: 0.03vw solid sienna;
  }

  #lexikon-c2,
  #visitenkarte-c2,
  #sprechstunde-c2 {
    display: flex;
  }

  #lexikon,
  #calendar,
  #visitenkarte,
  #sprechstunde {
    display: none;
  }

  #heute,
  #heute div {
    visibility: hidden;
    display: none !important;
  }

  /* Flipcards */
  /* https://stackoverflow.com/questions/52697020/showing-full-content-of-the-flip-card-under-mobile-devices */

  .flipbox {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    perspective: 800px;
  }

  #urlaubsdetektive .flipper .front {
    font-size: 15vh;
    color: brown;
    font-weight: bold;
  }

  /* ENDE Inhalt main */

  /* #footer - Inhalt Fuszzeile */

  #footer {
    height: 8vh;
    font-size: 2vh;
  }

  /* ######## Conset-Popup mit Google Fonts - Poppins ######## */
  * {
    font-size: 1.8vh;
  }
  body {
    min-height: 100vh;
  }
  .consent-wrapper {
    bottom: 20vh;
    right: -50vw;
    max-width: 45vw;
    width: 100%;
    border-radius: 0.3vh 0.3vw;
    padding: 1vw 1vh;
    box-shadow: 0 0.03vw 0.06vw rgba(0, 0, 0, 0.1);
  }
  .consent-wrapper.show {
    right: 1vw;
  }
  .consent-wrapper header {
    column-gap: 1em;
  }
  header i {
    font-size: 1.5em;
  }
  header h2 {
    font-weight: 500;
  }
  .consent-wrapper .data {
    margin-top: 1.1em;
  }
  .consent-wrapper .data p {
    font-size: 2vh;
  }
  .consent-wrapper .buttons {
    margin-top: 1.1em;
    width: 100%;
    font-size: 2vh;
  }
  .buttons .button {
    padding: 0.1vh 0.1vw;
    border-radius: 0.1em;
    width: calc(100% / 2 - 10px);
  }

  /* Bildgröße wird immer auf 100% runtergerechnet */
  img {
    max-width: 100%;
    height: auto;
  }
}
