<!DOCTYPE html>
<!-- 
/****************** DESIGNED BY *****************/
/*               Constanze Deten                */
/* Idee und Inhalt: Hans-Peter Herrmann         */
/*                   c 2023                     */
/************************************************/ 
-->
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="title" content="Tourismuspsychologie - Wissenskalender" />
    <meta name="author" content="Hans-Peter Herrmann, Constanze Deten" />
    <meta name="description" content="Touristik im Wandel - in Zeit und Ort" />
    <meta
      name="abstract"
      content="Touristische Ziele ändern sich. Wohin die Reise geht, bestimmen nicht nur die Konsumenten."
    />
    <meta name="date" content="2023-11-28" />
    <meta
      name="keywords"
      lang="de"
      content="Tourismus, Touristik, tourism, Reise, Touristikpsychologie, Psychologie, Hans-Peter Herrmann, Springer-Verlag"
    />

    <title>Touristikpsychologie</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- Ansicht auf mobilen Geräten NICHT skalierbar -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" /> -->
    <!-- Ansicht auf mobilen Geräten skalierbar -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Suchmaschinen-Optimierung -->
    <meta
      name="robots"
      content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
    />

    <!-- Ergänzung -->
    <meta property="og:locale" content="de_DE" />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content="Tourismuspsychologie - Wissenskalender"
    />
    <meta
      property="og:description"
      content="Touristik im Wandel - in Zeit und Ort"
    />
    <meta property="og:url" content="https://touristik.vercel.app/" />
    <meta property="og:site_name" content="touristik" />
    <!-- <meta property="article:publisher" content="https://www.facebook.com/..."> -->
    <meta property="article:section" content="Link" />
    <meta property="og:updated_time" content="2023-11-23T23:00:00-08:00" />

    <link rel="canonical" href="https://touristik.vercel.app/" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/navi.css" />
    <!-- <link rel="stylesheet" type="text/css" href="../css/calendar_js.css" media="screen"/> -->

    <!-- Link zur Vorlage für Symbole und Icons -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    /> -->
    <link rel="stylesheet" href="../css/fonts/font-awesome.min.css" />

    <!-- Google Webfont Cabin einbinden -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <!-- Google Webfont Cabin einbinden -->

    <link
      rel="search"
      type="../data/opensearchdescription+xml"
      href="/opensearch.xml"
      title="Search Page Content"
    />

    <!-- Icon im Reiter ausgeben -->
    <link
      rel="shortcut icon"
      type="image/vnd.icon"
      href="../favicon.ico"
      size="any"
    />
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png" />

    <!-- ANFANG KOPIE Script Kalenderanzeige -->
    <!-- <script type="text/javascript" src="../js/calendar_js.js"></script> -->
    <!-- Ende KOPIE Script Kalenderanzeige -->

    <!-- ANFANG KOPIE Datumsanzeige -->
    <script type="text/javascript" src="../js/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="../js/jquery.gallerax-0.2.js"></script>
    <!-- ENDE KOPIE Datumsanzeige -->

    <!-- Anfang Kopie Script für mobiles Menue -->
    <script type="text/javascript" src="../js/navi.js"></script>
    <!-- Ende Kopie Script für mobiles Menue -->

    <!-- JS für Flipbox -->
    <script>
      const flipbox = document.querySelector(".flipbox");
      flipbox.ontouchstart = this.classList.toggle("hover");
    </script>
    <!-- Ende Flippbox -->

    <!-- für Cookie-Popup -->
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src=",,/js/cookie.js" defer></script>
    <!-- Ende Cookie-Popup -->
  </head>

  <!-- Beginn Body -->
  <body class="dark-bg">
    <!-- Page für Suchmaschionen optimieren mit Rubriken-Layout header, section, nav -->

    <main id="wrapper">
      <!-- Headline -->
      <header id="head">
        <h1>
          <span class="h1-all">Urlaub & Reisen</span
          ><span id="h1-pc"> - Wissenskalender</span>
        </h1>
      </header>
      <!-- end #head -->

      <nav>
        <!-- Beginn responsives menue ohne Subnav -->
        <ul class="topnav" id="topnav">
          <li>
            <a href="../index.html"><i class="fa fa-fw fa-home white"></i></a>
          </li>
          <li>
            <a href="#news">Neues</a>
          </li>
          <li>
            <a href="#hist_cal">Historisches</a>
          </li>
          <li>
            <a href="#about">Lexikon</a>
          </li>
          <li>
            <a href="#about">Kontakt</a>
          </li>
          <li class="icon">
            <a href="javascript:void(0);" onclick="myFunction()">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- end #menu -->

      <!-- Beginn main frame mit seitenweise Text -->
      <section>
        <img
          src="../images/pexels-tatiana-syrikova-3975680.jpg"
          width="100%"
          height="100%"
          alt="Suche & Studium"
        />
      </section>
      <section id="lexikon">
        <!-- erster großer Abschnitt: Impressum -->
        <h1 id="h1-cont">Impressum &amp; Datenschutzerkl&auml;rung</h1>
        <article class="imp" id="imp">
          <div class="impressum">
            <h1>Impressum</h1>
            <p>Angaben gemäß § 5 TMG</p>
            <p>
              Max Muster <br />
              Musterweg<br />
              12345 Musterstadt <br />
            </p>
            <p>
              <strong>Vertreten durch: </strong><br />
              Max Muster<br />
            </p>
            <p>
              <strong>Kontakt:</strong> <br />
              Telefon: 01234-789456<br />
              Fax: 1234-56789<br />
              E-Mail: <a href="mailto:max@muster.de">max@muster.de</a> <br />
            </p>
            <p>
              <strong>Umsatzsteuer-ID: </strong> <br />
              Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:
              Musterustid.<br /><br />
              <strong>Wirtschafts-ID: </strong><br />
              Musterwirtschaftsid<br />
            </p>
            <p>
              <strong>Aufsichtsbehörde:</strong><br />
              Musteraufsicht Musterstadt<br />
            </p>
            <p>
              <strong
                >Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</strong
              ><br />
              Max Muster <br />
              Musterweg<br />
              12345 Musterstadt <br />
            </p>
        </article>
      </section>

      <!-- Footer innerhalb des Wrappers -->
      <footer id="footer">
        <p>Copyright (c) 2023 Hans-Peter Herrmann & Constanze Deten</p>
      </footer>
      <!-- end #footer -->
    </main>
  </body>
</html>
