<!DOCTYPE html>
<!-- 
/****************** DESIGNED BY *****************/
/*               Constanze Deten                */
/* Idee und Inhalt: Hans-Peter Herrmann         */
/*                   c 2023                     */
/************************************************/ 
-->
<html lang="de" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="title" content="Tourismuspsychologie - Wissenskalender" />
    <meta name="author" content="Hans-Peter Herrmann, Constanze Deten" />
    <meta name="description" content="Touristik im Wandel - in Zeit und Ort" />
    <meta
      name="abstract"
      content="Touristische Ziele ändern sich. Wohin die Reise geht, bestimmen nicht nur die Konsumenten."
    />
    <meta name="date" content="2023-11-28" />
    <meta
      name="keywords"
      lang="de"
      content="Tourismus, Touristik, tourism, Reise, Touristikpsychologie, Psychologie, Hans-Peter Herrmann, Springer-Verlag"
    />

    <title>Touristikpsychologie</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- Ansicht auf mobilen Geräten NICHT skalierbar -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" /> -->
    <!-- Ansicht auf mobilen Geräten skalierbar -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Suchmaschinen-Optimierung -->
    <meta
      name="robots"
      content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large"
    />

    <!-- Ergänzung -->
    <meta property="og:locale" content="de_DE" />
    <meta property="og:type" content="article" />
    <meta
      property="og:title"
      content="Tourismuspsychologie - Wissenskalender"
    />
    <meta
      property="og:description"
      content="Touristik im Wandel - in Zeit und Ort"
    />
    <meta property="og:url" content="https://touristik.vercel.app/" />
    <meta property="og:site_name" content="touristik" />
    <!-- <meta property="article:publisher" content="https://www.facebook.com/..."> -->
    <meta property="article:section" content="Link" />
    <meta property="og:updated_time" content="2023-11-23T23:00:00-08:00" />

    <link rel="canonical" href="https://touristik.vercel.app/" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/navi.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../css/calendar_js.css"
      media="screen"
    />

    <!-- Link zur Vorlage für Symbole und Icons -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    /> -->
    <link rel="stylesheet" href="../css/fonts/font-awesome.min.css" />

    <!-- Google Webfont Cabin einbinden -->
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin&display=swap"
      rel="stylesheet"
    />
    <!-- Google Webfont Cabin einbinden -->

    <link
      rel="search"
      type="lib/opensearchdescription+xml"
      href="/opensearch.xml"
      title="Search Page Content"
    />

    <!-- Icon im Reiter ausgeben -->
    <link
      rel="shortcut icon"
      type="image/vnd.icon"
      href="../favicon.ico"
      size="any"
    />
    <link rel="apple-touch-icon" href="../images/apple-touch-icon.png" />

    <!-- ANFANG Script Kalenderanzeige -->
    <!-- <script type="text/javascript" src="../js/calendar.js"></script> -->
    <!-- Ende Script Kalenderanzeige -->

    <!-- Anfang Script für mobiles Menue -->
    <script type="text/javascript" src="../js/navi.js"></script>
    <!-- Ende Script für mobiles Menue -->

    <!-- JS für Flipbox -->
    <script type="text/javascript" src="../js/flipbox.js"></script>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <!-- Ende Flippbox -->

    <!-- Anfang Script für Inhaltsaufruf durch Button-Click -->
    <script type="text/javascript" src="../js/btn-toggle.js"></script>
    <!-- Ende Kopie Script für mobiles Menue -->

    <!-- für Cookie-Popup -->
    <!-- Boxicons CSS -->
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
    <script src="../js/cookie.js" defer></script>
    <!-- Ende Cookie-Popup -->
  </head>

  <!-- Beginn Body -->
  <body class="content-body">
    <!-- Page für Suchmaschionen optimieren mit Rubriken-Layout header, section, nav -->

    <div id="wrapper">
      <!-- Headline -->
      <header class="header">
        <h1>
          <span class="h1-all">Wissenskalender</span
          ><span class="h1-pc"> - Urlaub & Reisen</span>
        </h1>
        <!-- end #head -->

        <nav>
          <!-- Beginn responsives menue ohne Subnav -->
          <ul class="topnav" id="topnav">
            <li>
              <a href="../index.html"
                ><i class="fa fa-fw fa-home font-as"></i
              ></a>
            </li>
            <li class="hidden-item">
              <!-- Wissen:  + nützliches (Lexikon) + historische Fakten -->
              <a href="wissen.html">Wissen</a>
            </li>
            <li>
              <!-- täglich: neue Regionen + unnützes Wissen (wusstest du) -->
              <a href="ueberraschung.html">Überraschung</a>
            </li>
            <li>
              <!-- Rat: Nachhaltigkeit + Regionen stelllen sich vor + Lektüre -->
              <a href="ueberzeugung.html">Überzeugung</a>
            </li>
            <li>
              <!-- Kontaktformular + Sprechstunde -->
              <a href="kontakt.html">Kontakt</a>
            </li>
            <li class="nav-icon">
              <i
                class="fa fa-bars font-as"
                aria-hidden="true"
                onclick="BuergerNav()"
              ></i>
            </li>
          </ul>
        </nav>
        <!-- end #menu -->

        <head>
          <div class="layer-1">
            <button class="button-cont" onclick="histFakt()">
              <!-- <a href="#history"> -->
              Heute vor ...
              <!-- </a> -->
            </button>
            <button class="button-cont">Begriffe von A bis Z</button>
          </div>
          <div>
            <img
              src="../images/pexels-tatiana-syrikova-3975680.jpg"
              width="100%"
              height="100%"
              alt="Verbinungen und Fangseile"
            />
          </div>
        </head>
      </header>

      <!-- Beginn main frame mit seitenweise Text -->
      <main class="page-pad">
        <article>
          <!-- erster großer Abschnitt: Impressum -->
          <h1 class="h1-cont">Begriffe & Fakten</h1>
          <section>
            <table name="history" id="hist-fakt" class="hist-fakt">
              <tr class="fakt">
                <td class="date">
                  <div class="date-y">2013</div>
                  <div class="date-date">1. Jan.</div>
                </td>
                <td class="fakt-detail">
                  (Das Jahr kommt aus einer DB (hier: 2013), Tag & Monat aus
                  xdem aktuellen Datum (hier: alerings 01.01.)) Das
                  Beschränkungsverbot für Fernbuslinien in Deutschland wird
                  aufgehoben. Mit der Liberalisierung des Busfernlinienverkehrs
                  entstehen zahlreiche neue Bus-Unternehmen, die sich
                  mehrheitlich nicht etablieren konnten.
                </td>
              </tr>
              <tr class="fakt">
                <td class="date">
                  <div class="date-y">1991</div>
                  <div class="date-date">1. Jan.</div>
                </td>
                <td class="fakt-detail">
                  (Das Jahr kommt aus einer DB (hier: 1991), Tag & Monat aus
                  xdem aktuellen Datum (hier: alerings 01.01.)) Der Luftverkehr
                  innerhalb der Europäischen Union wird liberalisiert. In deren
                  Folge kommt es, wie zuvor in den USA zur Gründung von
                  zahlreichen Billigfluggesellschaften zu massiven Preiskämpfen.
                </td>
              </tr>
            </table>

            <p>...</p>
          </section>
        </article>

        <!-- Footer innerhalb des Wrappers -->
        <footer id="footer">
          <p>
            <i class="fa fa-copyright" aria-hidden="true"></i> 2023 |
            <a href="impressum-dasch.html">Impressum</a>
            <br />Hans-Peter Herrmann & Constanze Deten
          </p>
        </footer>
        <!-- end #footer -->
      </main>
    </div>
  </body>
</html>
